.header{
    background-color: rgb(0, 100, 248);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1{
    margin: 0;
}

table{
    margin:0 auto;
}

table, th, td {
    border: 1px solid black;
 }

 td{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
 }

 .bloco-inputs{
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .bloco-inputs button{
     width: 100%;
 }

 .mark{
     background: red;
     text-align: center;
 }